body{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
div{
  display: block;
  unicode-bidi: isolate;
}
ul {
  list-style-type: none
}
.game {
  display: flex;
}
.game-info {
  margin-top: 2.5rem;
}
.square {
  width: 2rem;
  height: 2rem;
  background-color: rgb(34, 129, 153);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  color: aliceblue;
  font-weight: 900;
}

.status {
  margin-bottom: 15px;
}

.desc {
  background: none;
  border: solid 1px black;
  font-weight: 500;
  padding: 5px 8px;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
}

.board-row{
  display: flex;
}
